* {
  margin: 0;
  padding: 0;
}

.boards {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
.header-section {
    height: 800px;
    background: rgba(225, 255, 143, 1);
}

.header__title {
    color: rgba(32, 32, 39, 1);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    padding-top: 196px;
}
.header__text {
    color: rgba(32, 32, 39, 1);
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 24px;
}
.header__button {
    color: white;
    font-size: 24px;
    margin-top: 48px;
    padding: 16px 28px;
    box-sizing: border-box;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
}

.header__button:hover{
    background-color: white;
    color: black;
    transform: translateY(-2px);
}

.top__star {
  position: absolute;
}

.top__star--1 {
  top: 94px;
  left: 63px;
}
.top__star--2 {
  top: 69px;
  left: 156px;
}

.top__star--3 {
  top: 538px;
  right: 448px;
}

.top__star--4 {
  top: 568px;
  right: 365px;
}

.top__star--5 {
  top: 0;
  right: 0;
}

.top__star_mob {
  display: none;
}

.about-games-section {
    background: rgba(32, 32, 39, 1);
    height: 1470px; /* Сохраняем высоту */
    position: relative;
    overflow: hidden; /* Добавляем чтобы обрезать выходящие элементы */
}

.about-games__title {
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 94px;
}

.about-games__text {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 24px;
}

.about_games__star {
  position: absolute;
  z-index: 20;
}

.about_games__star--1 {
  margin-top: 77px;
  right: 0;
  z-index: 0;
}

.about_games__star--2 {
  margin-top: 770px;
  left: 28px;
}

.about_games__star--3 {
  margin-top: 822px;
  left: 45px;
}

.games {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}
.games_1 {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
}

.games_2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 32px;
  align-items: flex-end;
}

.card_game {
  background-color: white;
  width: 378px;
  border-radius: 30px;
  padding-bottom: 36px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_game:hover{
    transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.big-cards {
    width: 378px;
}
.little-cards {
    width: 378px;
}
.card_game__num {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0px;
  vertical-align: bottom;
  color: #202027;
}

.card_game__name {
  text-decoration-line: none;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #202027;
}

.game-card__link {
  text-decoration: none;
}

.card_game_a {
  text-decoration: none;
}

.card_game__img {
  border-radius: 30px;
}

.card_game__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 35px;
}

.games-section {
    background: rgba(32, 32, 39, 1);
    height: 3500px;
    padding-top: 46px;
}

.games-title {
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 46px;
}

.footer {
    background: rgba(189, 237, 53, 1);
    padding: 61px;
}

.footer__text {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}